lead-qualification/ai-lead-qualification.json
{
    "name": "AI Lead Qualification Workflow",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lead-capture",
          "responseMode": "onReceived"
        },
        "id": "Webhook",
        "name": "Lead Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "operation": "chat",
          "model": "gpt-4o-mini",
          "messages": [
            {
              "role": "system",
              "content": "You are a sales assistant. Analyze if the lead is high quality."
            },
            {
              "role": "user",
              "content": "Lead info:\nName: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nMessage: {{$json[\"message\"]}}\n\nReturn a short qualification."
            }
          ]
        },
        "id": "OpenAI",
        "name": "AI Lead Qualification",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [450, 300],
        "credentials": {
          "openAiApi": {
            "name": "OpenAI API"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "name",
                "value": "={{$json[\"name\"]}}"
              },
              {
                "name": "email",
                "value": "={{$json[\"email\"]}}"
              },
              {
                "name": "message",
                "value": "={{$json[\"message\"]}}"
              },
              {
                "name": "aiQualification",
                "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}"
              }
            ]
          }
        },
        "id": "SetLeadData",
        "name": "Format Lead",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [700, 300]
      },
      {
        "parameters": {
          "fromEmail": "your@email.com",
          "toEmail": "={{$json[\"email\"]}}",
          "subject": "Thanks for contacting us",
          "text": "Hi {{$json[\"name\"]}},\n\nThanks for your message. Our team will review your request and get back to you soon.\n\nBest regards."
        },
        "id": "SendEmail",
        "name": "Send Follow-up Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [950, 300]
      }
    ],
    "connections": {
      "Lead Webhook": {
        "main": [
          [
            {
              "node": "AI Lead Qualification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Lead Qualification": {
        "main": [
          [
            {
              "node": "Format Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Lead": {
        "main": [
          [
            {
              "node": "Send Follow-up Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }